[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
rich = "*"

[dev-packages]
autopep8 = "*"
aiohttp = "*"
msgpack = "*"

[requires]
python_version = "3.11"
