Fretboard {
  align: center middle;
}

Fretboard>Container {
  overflow: hidden;

  height: 20;
  width: 100%;

  border: solid white;
  border-title-align: center;

  layout: grid;
}

Fret {
  content-align-horizontal: center;
  content-align-vertical: middle;

  border: solid white;
  border-title-align: center;
  border-subtitle-align: center;

  color: $surface;
}

Fret:hover {
  color: $text;
}

Fret:disabled {
  border: $background-lighten-3;
  color: $surface;
}

Fret.-toggle {
  border: gold;
  color: gold;
}
